{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'boocarapp/css/boocarapp.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

        <h1>To get this one, enter your name below and you
            can pay via paypal to paypal.me/BooCarFund!
        </h1>
        <form id="form" method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    </head>
</html>