<html>
    <head>
        <title>vrooom</title>
        <h1>Ben and Andi</h1>
        <h1>Places to Go, People to See!</h1>
    </head>
    <body>
        <div>
            <h1>It is a bit unbelievable, but the two Boos have survived
            with just 1 car over the past 7 years. Our Prius has
                200,000 miles and is on its last legs. If you would like
                to contribute to future Boo adventures, click on a part of
                the car you'd like to gift us!

            </h1>
        </div>

        <div>
            <p>Car pic here</p>
        </div>

    </body>
</html>